
@model IEnumerable<Sepet>

@*<a class="btn btn-primary" asp-action="Create">Yeni Paket</a>*@
<table class="table table-hover">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(p=>p.Id)</td>
            <td>@Html.DisplayNameFor(p=>p.FilmAdi)</td>
            <td>@Html.DisplayNameFor(p=>p.KategoriAdi)</td>
            <td>@Html.DisplayNameFor(p=>p.SepeteEklemeTarihi)</td>
            <td>@Html.DisplayNameFor(p=>p.Fiyat)</td>
            <td></td>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FilmAdi</td>
                <td>@item.KategoriAdi</td>
                <td>@item.SepeteEklemeTarihi</td>
                <td>@item.Fiyat</td>
                
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Sepet" asp-route-id="@item.Id">Sil</a>
                    <a class="btn btn-info" asp-action="Update" asp-controller="Sepet" asp-route-id="@item.Id">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>

</table>
